<div class="row">
    {% for area in areas %}
    <div class="col-sm-4">
    <div class="card" style="width: 22rem;">
        <img src="{{ area.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">{{ area.name }}</h3>
          <p class="card-text">{{ area.topic }}</p>
          <button type="button" class="btn btn-primary active">
            <a href="{% url 'law-edit-area' area.id %}">Modifier</a>
          </button>
          
        </div>
      </div>
    </div>
      {% endfor %}
      <hr>
    </div>
