<!-- Page contact -->
    <div class="contact-form">
        <div class="form-container bg-form bg-image">
          <h2 class="text-center mb-4">
            Contactez-nous !</h2>

            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-primary">Envoyez</button>
            </form>

            {% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ field }} : {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    document.getElementById("id_phone").addEventListener("input", function(event) {
                        this.value = this.value.replace(/\D/g, ''); // Supprime tous les caractères non numériques
                    });
                });
                </script>
                

        </div>
    </div>
           
    <!-- Contenu de la page -->







