{% extends "templates_bases.html" %}



{% block content %}

{% include "Law/law_navbar.html" %}

<body class="title-detail-page">
  <div class="container">
    <div class="row">
      <div class="title-detail">
        <h3><a {% if request.user.is_authenticated %} href="{% url 'law-edit-title' title.id%}" {% else%} href="#" {% endif %}>{{ title.name }}</a></h3>
        <ul class="list-group list-group-flush">
          {% for service in title.service_set.all  %}
            <li class="list-group-item">
              <a {% if request.user.is_authenticated %} href="{% url 'law-edit-service' service.id %}" {% else%} href="#" {% endif %}>{{ service.name }}</a>
            </li>
          </div>
          {% endfor %}
        </ul>
      </div>
  </div>


  </div>
  
</body>

{% include "Law/law_footer.html" %}


{% endblock content %}


