<!-- Page area -->


<div class="container area-detail">
  {% for area in areas %}
  <div class="row section-area">
    <div class="col-sm-6">
      <h2 class="card-text topic">
        <a {% if request.user.is_authenticated %} href="{% url 'law-edit-area' area.id %}" {% else%} href="#" {% endif %}>{{ area.name }}</a>

      </h2>
      <img src="{{ area.image.url }}" class="card-img-top" alt="...">
    </div>
    <div class="col-sm-6">

      <h3 class="card-text topic">{{ area.topic }}</h3>
      <div class="card-body">
        <p>{{ area.description }}</p>
        <hr>
        <h5>{{ area.tag }}</h5>
      </div>
    </div>

  <hr>

  {% endfor %}



</div>
</div>





