{% extends "templates_bases.html" %}



{% block content %}

{% include "Law/law_navbar.html" %}

<body class="contact-page">

<div class="container contact-text">

  <h3>Besoin d'Assistance Juridique ?</h3>
  <h5>
     Nous nous engageons à vous offrir des solutions juridiques viables et efficaces, vous fournir des informations véridiques et nous vous accompagneront dans votre quête des documents juridiques crédibles.
                     
      
  </h5>
  {% if request.user.is_authenticated %}
  <a href="{% url 'law-contact-list' %}">Voir les personnes qui nous ont contacté !</a>
{% endif %}
  
  {% include "Law/law_contact_form.html" %}


  
</div>
  


</body>

{% include "Law/law_footer.html" %}


{% endblock content %}