{% extends "templates_bases.html" %}


{% load static %}


{% block content %}

{% include "Law/law_navbar.html" %}


<body class="about-page">
        <div class="container about-style">
                <div class="row">
                        <div class="col-sm-6">
                                
                     <h3>SMART LAW FIRM est un cabinet Juridique de Consultation, de Conseil et d'Assistance juridique, Son siège se situe dans la Ville/Province de Kinshasa, en République Démocratique du Congo. </h3>

                     <h3> Nous nous engageons à vous offrir des solutions juridiques viables et efficaces, vous fournir des informations véridiques et nous vous accompagneront dans votre quête des documents juridiques crédibles. </h3>
                        
                     <h3> Notre équipe d'avocats expérimentés est là pour vous guider pas à pas suivant vos attentes en mettant à votre disposition des services personnalisés</h3>
                    
                        <h1><a href="{% url 'law-contact' %}">entrez en contact avec nous !</a></h1>
                        
                        </div>
                        <div class="col-sm-6">
                                <img src="{% static 'Law/images/slf_about.jpg' %}" alt="Mon image statique" />
                
                        </div>
                </div>

        
        
x
       
        </div>
        
</body>
{% include "Law/law_footer.html" %}


{% endblock content %}