{% extends "templates_bases.html" %}



{% block content %}

{% include "Law/law_navbar.html" %}


<body class="law-file-manage">

    <div class="container manage">
        <h3>Gestionnaire des fichiers</h3>
        <p>Vou naviguer en tant qu'administrateur. Cette page est reservé à la gestion (Création, Modification et la suppréssion de informations liées au site). Toute les modifications que vous apporterez vous etre immédiatement appliquées. Soyez vigilant !!!</p>
        


{% include "Law/law_card_file_manage.html" %}
{% include "Law/law_card_title_file_manage.html" %}




</body>





{% endblock content %}