{% extends "templates_bases.html" %}
{% block content %}
{% include "Law/law_navbar.html" %}

<body class="team-page">
  <div class="container">
    <h5 class="text-center ">Notre équipe d'avocats expérimentés est entièrement à votre dispostion !</h5>
</div>

      <div class="row align-buttons">
        
      {% for member in members %}
      <div class=" container col-lg-4 col-sm-12" style="align-items: center;">
        <div class="image-container">
          <div class="card">
              <img src="{{ member.image.url }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{% url 'law-user-login' %}">{{ member.full_name }}</a>
                </h4>
                <hr>
                <h6>Domaine : {{ member.domain }}</h6>
                <hr>
                <h6>Expérience : {{ member.bar }}</h6>
                <hr>
                <h6>Statut : {{ member.statut }}</h6>
               
              </div>
            </div>
      </div>
      </div>
      
        {% if request.user.is_authenticated %}
   
        <a href="{% url 'law-user-logout' %}">Se Déconnecter</a>

        {% endif %}
        {% endfor %}
       
      </div>
    </div>


    
  </body>

  {% include "Law/law_footer.html" %}
    

{% endblock content %}



