
    <footer class="footer">
        <div class="footer-content container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <h5>SMART LAW FIRM</h5>
                    <img src="logo.png" alt="SMART LAW FIRM Logo">
                    <p>35, Avenue Ngafula (Centre Supérieur), Quartier Finda, Commune de Ngaliema, Kinshasa, RDC.</p>
                    <p>Version: SLF-02</p>
                </div>
                <div class="col-sm-4">
                    <h5>BRANCHES D'INTERVENTION</h5>
                    <ul>
                        <li>Création des Entreprises</li>
                        <li>Assistance</li>
                        <li>Gestion Immobilière</li>
                        <li>Rédaction Juridique et Extra-Juridique</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h5>À PROPOS D'ELITEROOM</h5>
                    <p>EliteRoom œuvre dans l'informatique et les télécommunications, proposant la création de sites web, l’hébergement et la maintenance.</p>
                    <p>Téléphone: + (243) 85 009 65 25</p>
                    <p>Téléphone WhatsApp: + (243) 82 748 35 38</p>
                    <p>Email: tegratshibanda20@gmail.com</p>
                </div>
            </div>
            <div class="text-center mt-3">
                <p>Développé par @eliteroom, Tous droits réservés !</p>
            </div>
        </div>
    </footer>
