

.form-container {
    max-width: 600px;
    margin: auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .btn-custom {
    background-color: #007bff;
    color: #fff;
    border-radius: 20px;
  }
  .btn-custom:hover {
    background-color: #0056b3;
  }

/* END CAROUSEL SECTION */


